* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #E43D12
  color: #EBE9E1;
  text-align: center;
    }

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #EBE9E1
}

/* Style the top navigation bar */
.nav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links -- except I need to put them in their own classes */
.nav a {
  display: block;
  color: #14110F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.nav a:hover {
  background-color: #F3F3F4;
  color: #FFA2B6;
}

/* Style the footer */
.footer {
  color: #EBE9E1
  background-color: #34312D;
  padding: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  margin: auto;
}
.container img {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 5em;
}
.text {
  flex: 1;
}

.button {
  display: inline-block;
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 1em;
}
.button:hover {
  background-color: #d32f2f;
}
iframe {
  display: block;
  margin: 20px 0;
  max-width: 100%;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}